<%= form_for(@answer) do |f| %>
  <div class="field">
    <%= f.label "Answer" %><br>
    <%= f.text_field :description %>
  </div>
  <div class= "actions">
    <%= f.submit "Submit Answer" %>
  </div>
<% end %>
